# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
*.log

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Folders
data/*
!data/.gitkeep

results/*
!results/.gitkeep

tools/*
!tools/.gitkeep

# Large bioinformatics files
*.fastq
*.fastq.gz
*.fq
*.fq.gz
*.fa
*.fa.gz
*.fasta
*.fasta.gz
*.fna
*.fna.gz
*.bam
*.bai
*.sam
*.cram
*.crai
*.hic
*.bw
*.bigWig
*.bedGraph
*.wig
*.pairs
*.pairs.gz

# Juicer / index files
*.amb
*.ann
*.bwt
*.pac
*.sa
*.fai